@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.project-section-bg-container {
    background-color: #3e4c59;
}

.projects-section-sub-heading {
    color: #cced00;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.projects-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 38px;
    font-weight: bold;
}

.projects-card {
    background-color: #323f4b;
    border-radius: 10px;
}

.projects-card-image {
    width: 100%;
}

.projects-card-sub-title {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.project-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.project-card-description {
    font-size: 20px;
    color: #9aa5b1;
    font-family: "Roboto";
}

.projects-card-link {
    color: #cced00;
    font-weight: bold;
}