@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-kit-bg-container {
    background-color: #f9fbfe;
}

.vr-section-heading {
    font-size: 25px;
    color: #1f2933;
    font-weight: bold;
    font-family: "Roboto";
}

.vr-kit-image {
    height: 180px;
    width: 160px;
}

.vr-name {
    font-size: 18px;
    color: #323f4b;
    font-family: "Roboto";
}